body {
	margin: 0;
	overflow: hidden;
	background-image: url("../Images/background.jpg");
	background-size: contain;
	background-position: center 44%; 
}

.navbar {
	z-index: -10;
	padding: 20px 0;
	width: 100%;
	background-color: #FFFFFF;
}
.main {
	width: 100%;
}
.logo {
	padding: 200px 0 500px 0;
	z-index: 10;
	margin: 0 auto;
	display: block;
}